/*****

Feras - creative one page parallax

author : Dragon-themes
 
****/

/******

the content

01-global Style
02-load-wrapp
03-intro-sec
04-navbar
05-welcome-area
06-features-area
07-about-area
08-services-area
09-how-work
10-team-area
11-faqs
12-price-area 
13-testimonials 
14-contact-area 
15-map
16-brands-area 
17-get-started
18-footer-area
19-scroll-top-btn
20-process-area
21-leadership-area
22-video-area 
23-why-area 
24-work-area
25-blog-area
26-work-details
27-log-in page
28- single-blog page
29-blog-list
30-welcome-404

******//////

/*----------------------------------------------------
					01-global Style
----------------------------------------------------*/
*{
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
           box-sizing: border-box;
	text-decoration: none;
	outline: none !important;
}

body{
	font-family: 'Fira Sans', sans-serif;
}

.fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

a,
a:hover{
	text-decoration: none;
}

a:focus{
	outline: none;
	text-decoration: none;
}

img {width: auto; max-width: 100%; height: auto;}

h1{font-size: 44px; line-height: 49px; font-weight: 500}
h2{font-size: 34px; line-height: 38px; font-weight: 500}
h3{font-size: 30px; line-height: 35px; font-weight: 500}
h4{font-size: 26px; line-height: 29px; font-weight: 500}
h5{font-size: 21px; line-height: 26px; font-weight: 500}
h6{font-size: 17px; line-height: 20px; font-weight: 500}

p{
	font-size: 14px; 
	line-height: 23px;
	font-weight: 400; 
	color: #737373;
	margin-bottom: 10px;
	font-family: 'Poppins', sans-serif;
}

p.p-big{
	font-size: 18px; 
	line-height: 27px;
	font-weight: 300
}

.title-h{
	text-align: center;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 5px;
}

.title-p{
	text-align: center;
	margin: 0 24%;
    font-size: 15px;
	line-height: 24px;
	font-weight: 400;
	color: #737373;
	margin-bottom: 60px;
	position: relative;
}

.flex-center{
	display: -webkit-box;   
    display: -ms-flexbox;   
    display: -webkit-flex;  
    display: flex;
	justify-content: center;
	align-items: center;
}

.flex-bottom{
	display: -webkit-box;   
    display: -ms-flexbox;   
    display: -webkit-flex;  
    display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.image-back-left{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.image-back-right{
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.font-Poppins{font-family: 'Poppins', sans-serif;}
/*** position ***/
.p-relative{position: relative;}
.p-absolute{position: absolute;}
.left-0{left: 0;}

/*** padding ***/
.big-padding{padding: 300px 0 220px 0;}
.sec-padding{padding: 80px 0;}
.md-padding{padding: 45px 0;}
.sm-padding{padding: 25px 0;}
.box-padding{padding: 80px 40px;}
.no-padding{padding: 0;}
.p-5px{padding: 5px;}
.p-15px{padding: 15px;}
.p-20px{padding: 20px;}
.p-30px{padding: 30px;}
.p-40px{padding: 40px;}
.p-50px{padding: 50px;}
.pl-3px{padding-left: 3px;}
.pl-5px{padding-left: 5px;}
.pl-10px{padding-left: 10px;}
.pl-15px{padding-left: 15px;}
.pl-20px{padding-left: 20px;}
.pl-25px{padding-left: 25px;}
.pl-30px{padding-left: 30px;}
.pl-50px{padding-left: 50px;}
.pl-60px{padding-left: 60px;}
.pl-70px{padding-left: 70px;}
.pl-80px{padding-left: 80px;}
.pl-90px{padding-left: 90px;}
.pl-95px{padding-left: 95px;}
.pr-10px{padding-right: 10px;}
.pr-15px{padding-right: 15px;}
.pr-25px{padding-right: 25px;}
.pr-30px{padding-right: 30px;}
.pr-50px{padding-right: 50px;}
.pt-5px{padding-top: 5px;}
.pt-7px{padding-top: 7px;}
.pt-10px{padding-top: 10px;}
.pt-15px{padding-top: 15px;}
.pt-20px{padding-top: 20px;}
.pt-30px{padding-top: 30px;}
.pt-50px{padding-top: 50px;}
.pt-100px{padding-top: 100px;}
.pb-5px{padding-bottom: 5px;}
.pb-7px{padding-bottom: 7px;}
.pb-10px{padding-bottom: 10px;}
.pb-30px{padding-bottom: 30px;}
.pb-40px{padding-bottom: 40px;}
.pb-50px{padding-bottom: 50px;}
.pb-150px{padding-bottom: 150px;}

/***** margin *****/

/* margin-top */
.mt-0px{margin-top: 0px;}
.mt-5px{margin-top: 5px;}
.mt-10px{margin-top: 10px;}
.mt-15px{margin-top: 15px;}
.mt-20px{margin-top: 20px;}
.mt-25px{margin-top: 25px;}
.mt-30px{margin-top: 30px;}
.mt-40px{margin-top: 40px;}
.mt-50px{margin-top: 50px;}
.mt-60px{margin-top: 60px;}

/* margin-bottom */
.mb-0px{margin-bottom: 0px;}
.mb-2px{margin-bottom: 2px;}
.mb-5px{margin-bottom: 5px;}
.mb-7px{margin-bottom: 7px;}
.mb-10px{margin-bottom: 10px;}
.mb-12px{margin-bottom: 12px;}
.mb-15px{margin-bottom: 15px;}
.mb-20px{margin-bottom: 20px;}
.mb-25px{margin-bottom: 25px;}
.mb-30px{margin-bottom: 30px;}
.mb-40px{margin-bottom: 40px;}
.mb-50px{margin-bottom: 50px;}

/* margin-right */
.mr-2px{margin-right: 2px;}
.mr-5px{margin-right: 5px;}
.mr-10px{margin-right: 10px;}
.mr-15px{margin-right: 15px;}
.mr-20px{margin-right: 20px;}
.mr-25px{margin-right: 25px;}

/* margin-left */
.ml-2px{margin-left: 2px;}
.ml-5px{margin-left: 5px;}
.ml-10px{margin-left: 10px;}
.ml-25px{margin-left: 25px;}

/***** font-weight *****/
.fw-100{font-weight: 100;}
.fw-200{font-weight: 200;}
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.fw-800{font-weight: 800;}

/***** font-size *****/
.fs-13{font-size: 13px;}
.fs-14{font-size: 14px;}
.fs-15{font-size: 15px;}
.fs-16{font-size: 16px;}
.fs-17{font-size: 17px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-22{font-size: 22px;}
.fs-25{font-size: 25px;}
.fs-30{font-size: 30px;}
.fs-35{font-size: 35px;}
.fs-40{font-size: 40px;}
.fs-45{font-size: 45px;}
.fs-50{font-size: 50px;}

/***** colors *****/
.color-ccc{color: #ccc;}
.color-ddd{color: #ddd;}
.color-e5e5e5{color: #e5e5e5;}
.color-eee{color: #eee;}
.color-f5f5f5{color: #f5f5f5;}
.color-fff{color: #fff;}
.color-fff-hvr:hover{color: #fff;}
.color-aaa{color: #aaa;}
.color-999{color: #999;}
.color-888{color: #888;}
.color-666{color: #666;}
.color-333{color: #333;}
.color-555{color: #555;}
.color-gray{color: #edf5ff;}
.color-blue{color: #5882fd;}
.color-blue-hvr:hover{color: #5882fd;}
.color-orange{color: #9b3998;}
.color-orange-hvr:hover{color: #9b3998;}
.color-green{color: #1eda65;}
.color-green-hvr:hover{color: #1eda65;}
.color-gold{color: #ffd700;}

/***** background-color *****/
.bg-333{background-color: #333;}
.bg-333-hvr:hover{background-color: #333;}
.bg-aaa{background-color: #aaa;}
.bg-eee{background-color: #eee;}
.bg-fff{background-color: #fff;}
.bg-fff-hvr:hover{background-color: #fff;}
.bg-gray{background-color: #edf5ff;}
.bg-blue{background-color: #5882fd;}
.bg-blue-hvr:hover{background-color: #5882fd;}
.bg-orange{background-color: #9b3998;}
.bg-orange-lh{background-color: #ffe9da;}
.bg-orange-hvr:hover{background-color: #9b3998;}
.bg-green{background-color: #1eda65;}
.bg-green-hvr:hover{background-color: #1eda65;}
.bg-green-lh{background-color: #d9f1e2;}


.overlay-bg-75{background-color: rgba(0,0,0,.75);}
.overlay-bg-80{background-color: rgba(0,0,0,.80);}

/***** transition *****/
.transition-2{-webkit-transition: 0.2s ease-in-out; transition: 0.2s ease-in-out;}
.transition-3{-webkit-transition: 0.3s ease-in-out; transition: 0.3s ease-in-out;}
.transition-4{-webkit-transition: 0.4s ease-in-out; transition: 0.4s ease-in-out;}
.transition-5{-webkit-transition: 0.5s ease-in-out; transition: 0.5s ease-in-out;}

/***** border-radius *****/
.radius-50{border-radius: 50%;}
.radius-0px{border-radius: 0px !important;}
.radius-5px{border-radius: 5px;}
.radius-10px{border-radius: 10px;}
.radius-25px{border-radius: 25px;}
.radius-50px{border-radius: 50px;}

.o-hidden{overflow: hidden;}
.z-index-0{z-index: 0;}
.z-index-1{z-index: 1;}
.z-index-2{z-index: 2;}
.z-index-3{z-index: 3;}
.div-10{height: 10px;}
.no-border{border: none;}
.big-p{font-size: 20px; line-height: 30px;}

.translateY-5px{transform: translateY(5px);}

/***** buttons *****/
.main-btn{
	display: inline-block;
    text-decoration: none;
	border: none;
    border-radius: 5px;
    position: relative;
    font-size: 14px;
	word-spacing: 2px;
    font-weight: 500;
    transform: perspective(1px)translateX(0px);
    transition: all 0.2s ease 0s;
	overflow: hidden
}

.main-btn:before{
	content: "";
    background-color: #fff;
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
}

.main-btn:hover:before{transform: scaleX(1);}

.main-btn.btn-orange{background-color: #9b3998; border-color: #9b3998;}

.main-btn.btn-orange:hover{color: #9b3998;}

.main-btn.btn-green{background-color: #1eda65; border-color: #1eda65;}

.main-btn.btn-green:hover{color: #1eda65;}

.main-btn.before-gray:before{background-color: #edf5ff;}

.main-btn.before-orange-lh:before{background-color: #ffe9da;}

.main-btn.before-green-lh:before{background-color: #d9f1e2;}

/* btn-1 */
.btn-1{
    padding: 12px 26px;
	background-color: #5882fd;
	color: #fff;
}
.btn-1:hover{color: #5882fd;}

.btn-1:hover:before{transform: scaleX(1);}

/* btn-2 */
.btn-2{
    padding: 12px 26px;
	background-color: transparent !important;
	color: #5882fd;
}

.btn-2:hover{color: #fff !important;}

.btn-2:after{
    content: "";
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
	z-index: -2;
	border-radius: 5px;
	border: 1px solid #5882fd;
}

.btn-2:before{background-color: #5882fd}

.btn-2.btn-green{
	color: #1eda65;
}

.btn-2.btn-green:after{
	border: 1px solid #1eda65;
}

.btn-2.btn-green:before{background-color: #1eda65}

/* btn-3 */
.btn-3{
    padding: 11px 25px;
	background-color: #5882fd;
	color: #fff;
	border: 1px solid #5882fd;
}

.btn-3:hover{color: #5882fd;}


@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
  }
  40% {
    transform: scale(1.0);
  }
}

/***** shapes *****/
.shape-1{
	right: -178px;
    top: -78px;
    height: 91%;
    width: 65%;
    border-radius: 0 0 0 146px;
    transform: rotate(22deg);
    z-index: -1;
}

.shape-2{
	left: -178px;
    top: -78px;
    height: 50%;
    width: 40%;
    border-radius: 0 100px 100px 0;
    transform: rotate(22deg);
    z-index: -1;
}

.shape-3{
	right: -178px;
    top: -78px;
    height: 65%;
    width: 50%;
    border-radius: 0 0 0 146px;
    transform: rotate(22deg);
    z-index: -1;
}

.shape-4{
	left: 20%;
    bottom: 50px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    z-index: -1;
}

.shape-5{
	right: 20%;
    bottom: 50px;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    z-index: -1;
}

.shape-6{
	left: 50%;
    top: -80px;
	transform: translateX(-50%);
    height: 180px;
    width: 180px;
    border-radius: 50%;
    z-index: -1;
}

/***** triangle *****/
.triangle-top{
	position: relative;
	overflow: hidden;
	padding: 130px 0;
}

.triangle-top:after{
	content: "";
	position: absolute;
	top: 0px;
	right: 0;
	height: 0px;
	width: 0px;
	background-color: #fff;
	border-left: 100vw solid transparent;
	border-bottom: 50px solid #edf5ff;
}

.triangle-bottom{
	position: relative;
	overflow: hidden
}

.triangle-bottom:before{
	content: "";
	position: absolute;
	bottom: 0px;
	right: 0;
	height: 0px;
	width: 0px;
	background-color: #fff;
	border-left: 100vw solid #edf5ff;
	border-bottom: 50px solid transparent;
}
 
/*----------------------------------------------------
					02-load-wrapp
----------------------------------------------------*/
.load-wrapp {
    position: fixed;
    width: 100%;
    height: 100%;
    background:#fff;
    color:#fff;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:99999;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.load-wrapp .wrap {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%)translateY(-50%);
}

.load-wrapp .wrap ul.dots-box {
  position: relative;
  width: 80px;
  height: 80px;
  list-style: none;
}

.load-wrapp .wrap ul.dots-box li.dot {
  width: 100%;
  height: 100%;
  border-radius: 52px;
  top: 0;
  left: 0;
  z-index: 99;
  text-indent: -9999px;
  display: block;
  position: absolute;
  border: none;
}
.load-wrapp .wrap ul.dots-box li.dot span {
  background: #5882fd;
  bottom: 0px;
  left: 50%;
  margin-left: -2px;
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
}

.load-wrapp .wrap ul.dots-box li.dot {
  animation-iteration-count:infinite;
  animation-timing-function:linear;
  animation-name:orbit;
  animation-duration:4s;
}

.load-wrapp .wrap ul.dots-box li:nth-child(2) {
  animation-delay:0.2s;
}

.load-wrapp .wrap ul.dots-box li:nth-child(3) {
  animation-delay:0.4s;
}

.load-wrapp .wrap ul.dots-box li:nth-child(4) {
  animation-delay:0.6s;
}

.load-wrapp .wrap ul.dots-box li:nth-child(5) {
  animation-delay:0.8s;
}

@keyframes orbit {
  0% {
    transform:rotate(0deg);
    opacity: 1;
  }
  5% {
    transform:rotate(90deg);
    opacity: 1;
  }
  45% {
    transform:rotate(270deg);
    opacity: 1;
  }
  55% {
    transform:rotate(540deg);
    opacity: 1;
  }
  75% {
    transform:rotate(630deg);
    opacity: 1;
  }
  80% {
    transform:rotate(720deg);
    opacity: 0;
  }
  100% {
    transform:rotate(720deg);
    opacity: 0;
  }
}
/*----------------------------------------------------
					End load-wrapp
----------------------------------------------------*/

/*----------------------------------------------------
					03-intro-sec
----------------------------------------------------*/
.intro-sec .mb-25px img{
	box-shadow: 0 2px 35px -15px #555
}

.intro-sec .mb-25px:hover img{
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
}

.intro-sec .mb-25px a:focus{
	color: #01016d;
}
/*----------------------------------------------------
					End intro-sec
----------------------------------------------------*/

/*----------------------------------------------------
					04-navbar
----------------------------------------------------*/
.navbar{
	position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
	padding: 0;
	background-color: #fff;
}

.navbar .container{
	padding: 0;
	position: relative;
	transition: all 0.5s ease-in-out;
}

.navbar .navbar-brand .b-logo{
	display: block;
}

.navbar .navbar-nav .nav-item{
	padding: 35px 18px;
	transition: all 0.5s ease-in-out;
}

.navbar .navbar-nav .nav-item.dropdown:hover .dropdown-toggle{
	cursor: pointer;
	color: #9b3998;
}

.dropdown-toggle::after{
	content: "\f107";
	font-family: 'FontAwesome';
	margin: 0;
	border: none;
	vertical-align: 0;
	margin-left: 1px;
}

.dropdown-menu{
	width: auto;
	padding: 10px 5px 30px 5px;
	position: absolute;
	left: 0;
	border: none;
	box-shadow: 0 11px 35px rgba(0, 0, 0, 0.075);
}

@media  only screen and (min-width:992px){
	.dropdown-menu{
		visibility:hidden;
		opacity:0;
		display:block; 
		-webkit-transform:translateY(50px);
	       -moz-transform:translateY(50px);
			-ms-transform:translateY(50px);
			 -o-transform:translateY(50px);
				transform:translateY(50px);
		-webkit-transition: transform 0.4s ease;
				transition: transform 0.4s ease;
	}
	
	.dropdown:hover .dropdown-menu{
		margin-top:0;
		-webkit-transform:translateY(0);
	       -moz-transform:translateY(0);
			-ms-transform:translateY(0);
			 -o-transform:translateY(0);
				transform:translateY(0);
		visibility:visible;
		opacity:1;
	}
	
	.dropdown-menu > li{display: block;}
}

.dropdown-menu a{
	padding: 10px !important;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus{
	color: #9b3998 !important;
	background: none;
}

.navbar .navbar-nav .nav-link{
	font-size: 15px;
	color: #333;
	font-weight: 400;
	padding: 0;
}

.mega-item{
	position: static;
}

.mega-menu{
	left: 0;
	right: 0;
}

.navbar .navbar-nav .nav-item.log-in{
	padding: 25px 10px;
}

.navbar .navbar-nav .nav-item.log-in .nav-link{
	padding: 10px 20px;
	font-size: 15px;
	color: #333;
	font-weight: 400;
	color: #fff;
}

.navbar .navbar-nav .nav-item.log-in .nav-link:hover{
	background-color: #9b3998;
	color: #fff !important;
	border-color: #9b3998;
}

.navbar .navbar-nav .nav-link:hover,
.navbar-colored .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.navbar-colored .navbar-nav .nav-link.active{
	color: #9b3998;
}

.dropdown-item.active{
	color: #9b3998;
	background-color: transparent;
}

.navbar .navbar-toggler:focus{
	outline: none
}

.navbar .navbar-toggler .fa-bars{
	color: #333;
}

.navbar-colored{
    background-color: #fff;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
    transition: all .45s ease;
}

.navbar-colored .navbar-nav .nav-item{
	padding: 25px 18px;
}

.navbar-colored .navbar-nav .nav-link{
	color: #333;
}

.navbar-colored .navbar-nav .nav-item.log-in{
	padding: 15px 10px;
}

.navbar-colored .navbar-toggler .fa-bars{
	color: #333;
}

/***** navbar-transparent for demo-5 and demo-6*****/
.navbar-transparent{
	background-color: transparent;
}

.navbar-transparent .navbar-nav .nav-link,
.navbar-transparent .navbar-toggler .fa{
	color: #fff;
}

.navbar-transparent.navbar-black-links .navbar-nav .nav-link,
.navbar-transparent.navbar-black-links .navbar-toggler .fa{
	color: #333;
}

.navbar-transparent.navbar-colored{
	background-color: #fff
}

.navbar-transparent.navbar-colored .navbar-nav .nav-link,
.navbar-transparent.navbar-colored  .navbar-toggler .fa{
	color: #333;
}

.navbar .navbar-nav .nav-link:hover,
.navbar-transparent.navbar-colored .navbar-nav .nav-link:hover,
.navbar-transparent .navbar-nav .nav-link.active,
.navbar-transparent.navbar-colored .navbar-nav .nav-link.active{
	color: #9b3998;
}

/***** navbar.active-green for and demo-7*****/
.navbar.active-green .navbar-nav .nav-link:hover,
.navbar-colored.active-green .navbar-nav .nav-link:hover,
.navbar.active-green .navbar-nav .nav-link.active,
.navbar-colored.active-green .navbar-nav .nav-link.active,
.navbar.active-green .navbar-nav .nav-item.dropdown:hover .dropdown-toggle,
.navbar.active-green .navbar-nav .dropdown-menu a:hover,
.navbar.active-green .navbar-nav .dropdown-menu a:focus{
	color: #1eda65 !important;
}
/*----------------------------------------------------
					End navbar
----------------------------------------------------*/

/*----------------------------------------------------
					05-welcome-area
----------------------------------------------------*/
.welcome-area {
	min-height: 650px;
}

.welcome-area .welcome-text p{
	margin: 0 35% 0 0;
}

.welcome-area .pattern{
	left: 0;
	bottom: 0;
	height: 200px;
	width: 100%;
	background-image: url(../images/Pattern-4.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom
}

/***** welcome-page for index & demo-3 *****/
.welcome-page {
	min-height: 650px;
}

.welcome-page .welcome-text p{
	margin: 0 35% 0 0;
}

.welcome-page .pattern{
	left: 0;
	bottom: 0;
	height: 200px;
	width: 100%;
	background-image: url(../images/bb.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom
}

/***** welcome-agency for index & demo-5 *****/
.welcome-agency{
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	height: 100vh;
}

.welcome-agency .overlay-bg-75{
	height: 100vh;
}

.welcome-agency .welcome-text h1,
.welcome-agency .welcome-text p{
	margin: 0 22% 20px 22%;
}

.welcome-agency .pattern{
	left: 0;
	bottom: 0;
	height: 200px;
	width: 100%;
	background-image: url(../images/Pattern-4.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom
}

/***** welcome-area-2 for index & demo-8 *****/
.welcome-area-2 {
	min-height: 100vh;
}

.welcome-area-2 .welcome-text p{
	margin: 0 10%;
}

/**** welcome-slider ****/
.welcome-slider,
.welcome-slider .flex-center{
    min-height: 100vh;
}

.welcome-slider .item  p{
	margin: 0 35% 0 0;
}

.welcome-slider .item .flex-center h1,
.welcome-slider .item .flex-center p{
	opacity: 0
}

.welcome-slider  .owl-item.active .item .flex-center h1{
	-webkit-animation: fadeInSlider 1.4s 0.3s forwards;
			animation: fadeInSlider 1.4s 0.3s forwards;
}

.welcome-slider  .owl-item.active .item .flex-center p{
	-webkit-animation: fadeInSlider 1.4s 0.6s forwards;
			animation: fadeInSlider 1.4s 0.6s forwards;
}

@keyframes fadeInSlider{
	 0% {
    opacity: 0;
    -webkit-transform: translateY(70px)scale(1);
    transform: translateY(70px)scale(1);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0)scale(1);
    transform: translateY(0)scale(1);
  }
}

@keyframes fadeInLeftSlider{
	 0% {
    opacity: 0;
    -webkit-transform: translateX(55px)scale(0.9);
    transform: translateX(55px)scale(0.9);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0)scale(1);
    transform: translateX(0)scale(1);
  }
}

.welcome-slider .item .flex-center .btn-3{
	opacity: 0;
}

.welcome-slider .owl-item.active .item .flex-center .btn-3{
	-webkit-animation: bounceInSlider 0.9s 0.9s forwards;
			animation: bounceInSlider 0.9s 0.9s forwards;
}


@-webkit-keyframes bounceInSlider {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px)scale(0.85);
    transform: translateY(40px)scale(0.85);
  }

  100% {
	  opacity: 1;
    -webkit-transform: translateY(0)scale(1);
    transform: translateY(0)scale(1);
  }
}

.welcome-slider .owl-dots{
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.welcome-slider .owl-theme .owl-dots .owl-dot.active span,
.welcome-slider .owl-theme .owl-dots .owl-dot:hover span{
	background-color: #5882fd;
}

.welcome-slider .pattern{
	left: 0;
	bottom: 0;
	height: 200px;
	width: 100%;
	background-image: url(../images/Pattern-4.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: bottom
}
/*----------------------------------------------------
					End welcome
----------------------------------------------------*/

/*----------------------------------------------------
					06-features-area
----------------------------------------------------*/
.features-area i{
	width: 80px;
	height: 80px;
	line-height: 80px;
}

.features-area .mt-25px:hover i{
	background-color: #9b3998;
	color: #fff
}

/***** features-area-2 for demo-3*****/
.features-area-2 .p-30px{
	padding: 60px 30px;
	box-shadow: 0 2px 35px -1px #5882fd3b;
}

.features-area-2 .p-30px .fa-check{
	top: 0;
	left: 50%;
	transform: translateX(-50%)translateY(-50%);
	
}

.features-area-2 .p-30px:hover .fa-check{
	background-color: #5882fd;
	color: #fff;
}
/*----------------------------------------------------
					End features-area
----------------------------------------------------*/ 

/*----------------------------------------------------
					06-about-area
----------------------------------------------------*/
.about-area .im{
	width: 60px;
	height: 60px;
	line-height: 60px;
}

/***** about-area-3 *****/
.about-area-3 .p-relative{
	border: 1px solid #9b399866;
	cursor: pointer;
}

.about-area-3 .p-relative:hover{
	background-color: #9b3998;
	transform: translateY(-15px);
}

.about-area-3 .p-relative .im.p-absolute{
	width: 50px;
	height: 50px;
	line-height: 50px;
	transition: all 0.5s ease;
}

.about-area-3 .p-relative:hover .im.p-absolute{
	background-color: #fff;
	color: #9b3998;
}

.about-area-3 .p-relative:hover h4{
	color: #fff;
}

.about-area-3 .p-relative:hover p{
	color: #f4f4f4;
}
/*----------------------------------------------------
					End about-area
----------------------------------------------------*/ 

/*----------------------------------------------------
					07-services-area
----------------------------------------------------*/
.services-area .services-text{
	padding: 70px 30px;
	box-shadow: 0 1px 35px -5px #ddd;
}

.services-area .services-text:hover .im,
.services-area .services-text:hover h4{
	color: #fff;
}

.services-area .services-text:hover p{
	color: #ddd;
}

/***** services-area-2 for demo-2 *****/
.services-area-2 .services-text i{
	top: 30px;
	left: 30px;
	height: 70px;
	width: 70px;
	line-height: 70px;
}

/***** services-area-3 for demo-3 *****/
.services-area-3 .services-text{
	padding: 60px 30px;
	box-shadow: 0 1px 35px -5px #ddd;
}

.services-area-3 .services-text i{
	height: 80px;
	width: 80px;
	line-height: 80px;
}

.services-area-3 .services-text:hover i{
	background-color: #5882fd;
	color: #fff;
}

/***** services-area-4 for demo-4 *****/
.services-area-4{
	padding: 300px 0 220px 0;
}

.services-area-4 .services-text:hover{
	-webkit-transform: translateY(-15px);
			transform: translateY(-15px);
}

.services-area-4 .services-text .im{
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.services-area-4 .pattern{
	top: 0px;
	left: 0;
	width: 100%;
	height: 250px;
	background-image: url(../images/Pattern-3.png);
	background-size: cover;
	background-position: top;
	z-index: 0;
}

.services-area-4 .pattern-2{
	bottom: -10px;
	left: 0;
	width: 100%;
	height: 200px;
	background-image: url(../images/bb.png);
	background-size: cover;
	background-position: bottom;
}

.pattern-top{
	top: 0px;
	left: 0;
	width: 100%;
	height: 250px;
	background-image: url(../images/Pattern-3.png);
	background-size: cover;
	background-position: top;
	z-index: 0;
}

@media (min-width: 550px) and (max-width: 767px){
	.pattern-top{height: 170px;}
}

@media (min-width: 360px) and (max-width: 549px){ 
	.pattern-top{height: 110px;}
}

@media (min-width: 250px) and (max-width: 359px){ 
	.pattern-top{height: 75px;}
}

@media (max-width: 249px){ 
	.pattern-top{height: 50px;}
}

.pattern-bottom{
	bottom: -10px;
	left: 0;
	width: 100%;
	height: 200px;
	background-image: url(../images/bb.png);
	background-size: cover;
	background-position: bottom;
}

@media (min-width: 390px) and (max-width: 585px){ 
	.pattern-bottom{height: 110px; bottom: -4px;}
}

@media(max-width: 389px){ 
	.pattern-bottom{height: 75px; bottom: -1px}
}

/***** services-area-5 for demo-6 *****/
.services-area-5 .services-text i{
	width: 75px;
	height: 75px;
	line-height: 75px;
	position: relative;
	left: 0;
	top: 0;
}

.services-area-5 .services-text:hover i{
	background-color: transparent;
	color: #fff
}

.services-area-5 .services-text i:after{
	content: "";
	position: absolute;
	left: 0%;
	top: 0%;
	background-color: #5882fd;
	transform:scale(0);
	height: 100%;
	width: 100%;
	z-index: -1;
	border-radius: 50%;
	transition: all 0.35s ease-in-out;
}

.services-area-5 .services-text:hover i:after{
	left: 0;
	top: 0;
	transform: scale(1);
}

/***** services-area-6 for demo-7 *****/
.services-area-6 .services-text i{
	width: 75px;
	height: 75px;
	line-height: 75px;
	position: relative;
	left: 0;
	top: 0;
}

.services-area-6 .services-text:hover i{
	background-color: transparent;
	color: #fff
}

.services-area-6 .services-text i:after{
	content: "";
	position: absolute;
	left: 0%;
	top: 0%;
	background-color: #1eda65;
	transform:scale(0);
	height: 100%;
	width: 100%;
	z-index: -1;
	border-radius: 50%;
	transition: all 0.35s ease-in-out;
}

.services-area-6 .services-text:hover i:after{
	left: 0;
	top: 0;
	transform: scale(1);
}

/***** services-area-7 for demo-8 *****/
.services-area-7 .services-text i{
	width: 85px;
	height: 85px;
	line-height: 85px;
	position: relative;
	left: 0;
	top: 0;
	z-index: 5
}

.services-area-7 .services-text:hover i{
	background-color: transparent;
	color: #fff;
}

.services-area-7 .services-text i:after{
	content: "";
	position: absolute;
	left: 0%;
	top: 0%;
	background-color: #5882fd;
	transform:scale(0);
	height: 100%;
	width: 100%;
	z-index: -1;
	border-radius: 50%;
	transition: all 0.35s ease-in-out;
}

.services-area-7 .services-text:hover i:after{
	left: 0;
	top: 0;
	transform: scale(1);
}
/*----------------------------------------------------
					End services-area
----------------------------------------------------*/

/*----------------------------------------------------
					08-vision-area
----------------------------------------------------*/
.vision-area .vision-dots .dot{
	cursor: pointer;
}

.vision-area .vision-dots .dot i{
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.vision-area .vision-dots .dot.active i{
	background-color: #5882fd;
	color:#fff;
}

.vision-2 .vision-dots .dot:after{
	content: "";
	position: absolute;
	top:  50%;
	left: 50%;
	transform: scale(0)translateX(-50%);
	border-top: 30px solid #5882fd;
	border-bottom: 30px solid transparent;
	border-right: 30px solid transparent;
	border-left: 30px solid transparent;
	opacity: 0;
	transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.vision-2 .vision-dots .dot.active:after{
	top: 100%;
	transform: scale(1)translateX(-50%);
	opacity: 1;
}

.vision-2 .vision-dots .dot.active{
	background-color: #5882fd;
	color:#fff;
}

/***** vision-area-3  for demo-7*****/
.vision-area-3 .vision-text i{
	height: 50px;
	width: 50px;
	line-height: 50px;
}

.vision-area-3 .vision-text:hover i{
	background-color: #1eda65;
	color: #fff;
}
/*----------------------------------------------------
					End vision-area
----------------------------------------------------*/

/*----------------------------------------------------
					08-testimonials
----------------------------------------------------*/
.testimonials .single-review img{
	width: 100px;
}

.testimonials .single-review p{
	margin: 0 22%;
}

.testimonials .owl-theme .owl-dots .owl-dot.active span, 
.testimonials .owl-theme .owl-dots .owl-dot:hover span{
	background-color: #5882fd;
}

/***** testimonials-2 *****/
.testimonials-2 .single-review img{
	width: 120px;
}

.testimonials-2 .owl-theme .owl-dots .owl-dot.active span, 
.testimonials-2 .owl-theme .owl-dots .owl-dot:hover span{
	background-color: #5882fd;
}

/***** testimonials-3 for-demo-8 *****/
.testimonials-3{
	background-image: url(../images/back.jpg);
	background-size: cover;
	background-position: left top;
	background-attachment: fixed;
}

.testimonials-3 .single-review img{
	width: 70px;
}

.testimonials-3 .owl-theme .owl-dots .owl-dot.active span, 
.testimonials-3 .owl-theme .owl-dots .owl-dot:hover span{
	background-color: #1eda65;
}
/*----------------------------------------------------
					End testimonials
----------------------------------------------------*/

/*----------------------------------------------------
					10-how-work
----------------------------------------------------*/ 
.how-work .mt-25px span{
	height: 90px;
	width: 90px;
	line-height: 90px;
}	

.how-work .mt-25px:hover span{
	background-color: #5882fd;
	color: #fff;
}	
 
.how-work .col-md-4.p-relative:after{
	content: "\f105";
	position: absolute;
	right: 2px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 18px;
    background-color: #edf5ff;
    color: #5882fd;
	height: 30px;
	width: 30px;
	line-height: 30px;
	border-radius: 50%;
	font-family: 'FontAwesome';
	z-index: 1;
}

.how-work .col-md-4  .mt-25px span.p-relative:before{
	content: "";
	position: absolute;
	right: -8%;
	top: -8%;
	height: 116%;
	width: 116%;
	border-radius: 50%;
	border: 8px solid #5882fd;
	z-index: -1;
	transform: scale(0.8);
}

@keyframes bulb {
	0%{transform: scale(0.8); opacity: 0.55;}
	100%{transform: scale(1.4); opacity: 0;}
}

.how-work .col-md-4  .mt-25px:hover span.p-relative:before{
	animation: bulb 1s 1 forwards
}

.how-work .col-md-4.p-relative.last-one:after{
	content: none;
}

/***** how-work-2 *****/
.how-work-2 .how-dots .dot{
	cursor: pointer;
}

.how-work-2 .how-dots .dot.p-relative:after{
	content: "";
	position: absolute;
	left: 30px;
	top: 50px;
	height: 100%;
	width: 2px;
	background-color: #9b3998;
	z-index: -1
}

.how-work-2 .how-dots .dot h4.p-absolute{
	width: 60px;
	height: 60px;
	line-height: 60px;
}

.how-work-2 .how-dots .dot.active h4.p-absolute{
	background-color: #9b3998;
	color:#fff;
}

/***** how-work-3 for demo-4*****/
.how-work-3 .mt-25px span{
	height: 80px;
	width: 80px;
	line-height: 80px;
}

.how-work-3 .how-box.p-relative:after{
	content: "";
	position: absolute;
	top: 65px;
	left: 0;
	height: 1px;
	width: 100%;
	border: 1px dashed orange;
	z-index: -1;
}

.how-work-3 .how-box.first:after{
	width: 50%;
	right: 0;
	left: auto;
}

.how-work-3 .how-box.last:after{
	width: 50%;
}

.how-work-3 .how-box .mt-25px:hover span{
	background-color: #9b3998;
	color: #fff
}
.how-work-3 .how-box .mt-25px span.p-relative:before{
	content: "";
	position: absolute;
	right: -8%;
	top: -8%;
	height: 116%;
	width: 116%;
	border-radius: 10px;
	border: 8px solid rgba(255, 119, 98, 0.9);
	z-index: -1;
	transform: scale(0.8);
}

@keyframes bulb {
	0%{transform: scale(0.8); opacity: 0.55;}
	100%{transform: scale(1.4); opacity: 0;}
}

.how-work-3 .how-box .mt-25px:hover span.p-relative:before{
	animation: bulb 1s 1 forwards
}
/*----------------------------------------------------
					End how-work
----------------------------------------------------*/ 

/*----------------------------------------------------
					10-numbers
----------------------------------------------------*/
.numbers .mt-25px i{
	height: 70px;
	width: 70px;
	line-height: 70px;
}

.numbers .mt-25px:hover i{
	background-color: #fff;
	color: #9b3998
}

/***** numbers-2 for demo-3 *****/
.numbers-2 .mt-25px i{
	height: 70px;
	width: 70px;
	line-height: 70px;
}

.numbers-2 .mt-25px:hover i{
	background-color: #fff;
	color: #5882fd;
}
/*----------------------------------------------------
					End numbers
----------------------------------------------------*/

/*----------------------------------------------------
					10-team-area
----------------------------------------------------*/
.team-area .mt-25px .o-hidden,
.team-area .mt-25px img{
	width: 150px;
	height: 150px;
}

.team-area .mt-25px:hover img{
	transform: scale(1.1)
}

.team-area .mt-25px a{
	width: 30px;
	height: 30px;
	line-height: 30px;
}

/***** team-area-2 for demo-6 *****/
.team-area-2 .mt-25px:hover img{
	transform: scale(1.1)
}

.team-area-2 .mt-25px .social{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-background:linear-gradient(45deg, rgba(42, 169, 206, 0.6) 0%, rgba(88, 130, 253, 0.9) 100%);
	background:linear-gradient(45deg, rgba(42, 169, 206, 0.6) 0%, rgba(88, 130, 253, 0.9) 100%);
	opacity: 0;
}

.team-area-2 .mt-25px:hover .social{
	opacity: 1;
}

.team-area-2 .mt-25px a{
	width: 30px;
	height: 30px;
	line-height: 30px;
}

/***** team-area-3 for demo-7 *****/
.team-area-3 .mt-25px:hover img{
	transform: scale(1.1)
}

.team-area-3 .mt-25px .social{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	-webkit-background:linear-gradient(45deg, rgba(42, 169, 206, 0.6) 0%, rgb(30, 218, 101) 100%);
	background:linear-gradient(45deg, rgba(42, 169, 206, 0.6) 0%, rgb(30, 218, 101) 100%);
	opacity: 0;
}

.team-area-3 .mt-25px:hover .social{
	opacity: 1;
}

.team-area-3 .mt-25px a{
	width: 30px;
	height: 30px;
	line-height: 30px;
}

/***** team-area-4 for demo-8 *****/
.team-area-4 .mt-25px:hover img{
	transform: scale(1.1)
}

.team-area-4 .mt-25px .social{
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(30, 218, 101, 0.88);
	opacity: 0;
}

.team-area-4 .mt-25px:hover .social{
	opacity: 1;
}

.team-area-4 .mt-25px a{
	width: 30px;
	height: 30px;
	line-height: 30px;
}
/*----------------------------------------------------
					End team-area
----------------------------------------------------*/

/*----------------------------------------------------
					11-faqs
----------------------------------------------------*/ 
.faqs .box h6{
    cursor: pointer;
}

.faqs .box h6.blue{
	color: #fff;
	-webkit-background:linear-gradient(45deg, #2aa9ce 0%, #5882fd 100%);
	background:linear-gradient(45deg, #2aa9ce 0%, #5882fd 100%);
}

.faqs .box h6.orange{
	color: #fff;
	-webkit-background: linear-gradient(45deg, #f23b3b 0%, #9b3998 100%);
	background: linear-gradient(45deg, #f23b3b 0%, #9b3998 100%);
}

.faqs .box p{
    display: none;
}

.faqs .box p:first-of-type{
	display: block
}

/***** faqs-2 *****/
.faqs-2 .box h6{
    cursor: pointer;
}

.faqs-2 .box h6.blue{
	color: #9b3998;
	background-color: transparent;
	border: 1px solid #9b3998;
}

.faqs-2 .box h6.orange{
	color: #fff;
	background-color: #9b3998;
}

.faqs-2 .box p{
    display: none;
}

.faqs-2 .box p:first-of-type{
	display: block
}

/***** faqs-3 for demo-7 *****/
.faqs-3 .box h6{
    cursor: pointer;
}

.faqs-3 .box h6.green{
	color: #fff;
	-webkit-background: linear-gradient(45deg, rgb(42, 169, 206) 0%, rgb(30, 218, 101) 100%);
			background: linear-gradient(45deg, rgb(42, 169, 206) 0%, rgb(30, 218, 101) 100%);
}

.faqs-3 .box h6.blue{
	color: #fff;
	-webkit-background:linear-gradient(45deg, #602ace 0%, #5882fd 100%);
			background:linear-gradient(45deg, #602ace 0%, #5882fd 100%);
}

.faqs-3 .box p{
    display: none;
}

.faqs-3 .box p:first-of-type{
	display: block
}

/*----------------------------------------------------
					End faqs
----------------------------------------------------*/ 

/*----------------------------------------------------
					12-price-area
----------------------------------------------------*/ 
.price-area .price-table{
	padding: 40px 20px;
}

.price-area .table-border{
	border: 1px solid #ddd;
}

.price-area ul.tabs li{
	cursor: pointer;
}

.price-area ul.tabs #tab1{
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	margin-right: -3px;
	box-shadow: 0 4px 35px -12px #5882fd;
}

.price-area ul.tabs #tab2{
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	margin-left: -3px;
	box-shadow: 0 4px 35px -12px #5882fd;
}

@media (max-width: 255px) {
	.price-area ul.tabs #tab1,
	.price-area ul.tabs #tab2{
		border-radius: 50px;
		margin-left: 0;
		margin-right: 0;
	}
}

.price-area ul.tabs li.active{
	background-color: #5882fd;
	color: #fff;
}

.price-area .tabs-content #tab2-content{
	display: none;
} 

/***** price-area-2 *****/
.price-area-2 .price-table{
	padding: 40px 20px;
}

.price-area-2 ul.tabs li{
	cursor: pointer;
}

.price-area-2 ul.tabs #tab1{
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	margin-right: -3px;
	box-shadow: 0 4px 35px -12px #9b3998;
}

.price-area-2 ul.tabs #tab2{
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	margin-left: -3px;
	box-shadow: 0 4px 35px -12px #9b3998;
}

@media (max-width: 255px) {
	.price-area-2 ul.tabs #tab1,
	.price-area-2 ul.tabs #tab2{
		border-radius: 50px;
		margin-left: 0;
		margin-right: 0;
	}
}

.price-area-2 ul.tabs li.active{
	background-color: #9b3998;
	color: #fff;
}

.price-area-2 .tabs-content #tab2-content{
	display: none;
} 
/*----------------------------------------------------
					End price-area
----------------------------------------------------*/ 

/*----------------------------------------------------
					14-contact-area for contact-page
----------------------------------------------------*/ 
.contact-area .btn-3:hover{
	background-color: #fff;
	cursor: pointer;
	outline: none;
}

.contact-area i{
	width: 80px;
	height: 80px;
	line-height: 80px;
}
/*----------------------------------------------------
					End contact-area
----------------------------------------------------*/ 

/*----------------------------------------------------
					15-map for contact-page
----------------------------------------------------*/
#map{
	height: 500px;
	width: 100%;
}
/*----------------------------------------------------
					End map
----------------------------------------------------*/

/*----------------------------------------------------
					16-brands-area
----------------------------------------------------*/ 
.brands-area img{
	opacity: 0.5;
	
}

.brands-area img:hover{
	opacity: 1;
}
/*----------------------------------------------------
					End brands-area
----------------------------------------------------*/ 

/*----------------------------------------------------
					17-get-started
----------------------------------------------------*/ 
.get-started form input:focus{
	outline: none;
	box-shadow: 0 5px 15px -5px #fff
}

.get-started form button{
	right: 0;
	top: 0;
	cursor: pointer;
	outline: none;
}

.get-started .patt{
	top: 0;
	width: 100%;
	height: 100px;
	z-index: 0;
	background-image: url(../images/Pattern-2.png);
	background-size: cover;
	transform: rotate(180deg);
	background-position: top;
}

.get-started .patt-2{
	bottom: 0;
	width: 100%;
	height: 80px;
	z-index: 0;
	background-image: url(../images/Pattern-4.png);
	background-size: cover;
	background-position: top;
}
/*----------------------------------------------------
					End get-started
----------------------------------------------------*/ 

/*----------------------------------------------------
					18-footer-area
----------------------------------------------------*/ 
.footer-area .fa.address{
	height: 35px;
	width: 35px;
	line-height: 35px;
}

.footer-area .links a:hover{
	padding-left: 5px
}


.footer-area a.social{
	height: 35px;
	width: 35px;
	line-height: 35px;
}
/*----------------------------------------------------
					End footer-area
----------------------------------------------------*/ 

/*----------------------------------------------------
					19-scroll-top-btn
----------------------------------------------------*/
.scroll-top-btn .fa{
    width:40px;
    height:40px;
	line-height: 40px;
    z-index:9999;
    cursor:pointer;
	position:fixed;
    right:15px;
    bottom:10px;
	display: none;
	box-shadow: 0 3px 35px -9px #000
}
/*----------------------------------------------------
					End scroll-top-btn
----------------------------------------------------*/

/*----------------------------------------------------
					20-process-area for demo-3
----------------------------------------------------*/
.process-area .im.p-absolute{
	height: 50px;
	width: 50px;
	line-height: 50px;
	left: 0;
	top: 0;
}
/*----------------------------------------------------
					End process-area
----------------------------------------------------*/

/*----------------------------------------------------
					21-leadership-area for leadership-page
----------------------------------------------------*/
.skills-bar .skills-progress{
	height: 5px;
    width: 90%;
    position: relative;
}

.skills-bar .skills-progress span {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
}

.skills-bar .skills-progress span:after {
    content: attr(data-value);
    position: absolute;
    right: -15px;
    top: -25px;
    font-weight: 400;
    font-size: 14px;
	text-align: center;
}
/*----------------------------------------------------
					End leadership-area
----------------------------------------------------*/

/*----------------------------------------------------
					22-video-area for demo-7
----------------------------------------------------*/
.video-area .p-absolute{
	top: 50%;
	left: 50%;
	transform: translateX(-50%)translateY(-50%);
	height: 75px;
	width: 75px;
	line-height: 75px;
}

.video-area .p-absolute:after{
	content: "";
	position: absolute;
	left: -10%;
	top: -10%;
	height: 120%;
	width: 120%;
	border: 6px solid #fff;
	border-radius: 50%;
	z-index: -1;
	transform: scale(0.8);
	opacity: 0;
	animation: bulb 1s  infinite;
}

@keyframes bulb {
	0%{transform: scale(0.8); opacity: 0.55;}
	100%{transform: scale(1.4); opacity: 0;}
}
/*----------------------------------------------------
					End video-area
----------------------------------------------------*/

/*----------------------------------------------------
					23-why-area
----------------------------------------------------*/
.why-area .box{
	border: 1px solid #e5e5e5;
}

.why-area .box:hover,
.why-area .box-colored{
	background-color: #1eda65;
	border-color: #1eda65;
}

.why-area .box:hover h4{
	color: #fff;
}

.why-area .box:hover p{
	color: #f5f5f5;
}
/*----------------------------------------------------
					End why-area
----------------------------------------------------*/

/*----------------------------------------------------
					24-work-area
----------------------------------------------------*/
.work-area .filtering span {
	display: inline-block;
    color: #333;
    font-size: 14px;
    cursor: pointer;
	padding: 9px 22px;
	border: 1px solid #1eda65;
}

.work-area .filtering .active {
    background-color: #1eda65;
    color: #fff;
}

.work-area .items {
    margin-top: 30px;
}

.work-area .work-image {
    position: relative;
    overflow: hidden;
}

.work-area .work-image:hover h5,
.work-area .work-image:hover p{
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.work-area .work-image p{
	transition: all 0.5s;
	-webkit-transform: translateY(10px);
            transform: translateY(10px);
}

.work-area .work-image h5{
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
}

.work-area .overlay-bg{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    -webkit-background: linear-gradient(45deg, rgba(42, 169, 206, 0.9) 0%, rgba(30, 218, 101, 0.95) 100%);
			background: linear-gradient(45deg, rgba(42, 169, 206, 0.9) 0%, rgba(30, 218, 101, 0.95) 100%);
    opacity: 0;
    -webkit-transform: translateX(-10px)translateY(10px);
            transform: translateX(-10px)translateY(10px);
}

.work-area .work-image:hover .overlay-bg{
    opacity: 1;
    -webkit-transform: translateX(0px)translateY(0px);
            transform: translateX(0px)translateY(0px);
}

.work-area .overlay-bg a{
	width: 40px;
	height: 40px;
	line-height: 40px;
}

/***** work-area-2 *****/
.work-area-2 .filtering span {
	display: inline-block;
    color: #333;
    font-size: 14px;
    cursor: pointer;
	padding: 9px 22px;
}

.work-area-2 .filtering .active {
    background-color: #5882fd;
    color: #fff;
}

.work-area-2 .work-image img{
	width: 100%;
}

.work-area-2 .overlay-bg{
	background-color: rgba(255,255,255,0.95);
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    opacity: 0;
    -webkit-transform: translateX(-5px)translateY(5px);
            transform: translateX(-5px)translateY(5px);
}

.work-area-2 .work-image:hover .overlay-bg{
    opacity: 1;
    -webkit-transform: translateX(0)translateY(0);
            transform: translateX(0)translateY(0);
}

.work-area-2 .overlay-bg .fa-long-arrow-right{
	top: 10px;
	right: 10px;
	height: 45px;
	width: 45px;
	line-height: 45px;
	border: 1px solid #88a1ea;
}

.work-area-2 .overlay-bg .fa-long-arrow-right:hover{
	border-color: #5882fd;
}

.work-area-2 .work-image p{
	-webkit-transform: translateY(-15px);
			transform: translateY(-15px);
	-webkit-transition: transform 0.5s ease-in-out;
			transition: transform 0.5s ease-in-out;
}

.work-area-2 .work-image h5 {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
	-webkit-transition: transform 0.5s ease-in-out;
			transition: transform 0.5s ease-in-out;
}

.work-area-2 .work-image:hover h5,
.work-area-2 .work-image:hover p{
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

/***** work-area-3 *****/
.work-area-3 .filtering span {
	display: inline-block;
    color: #333;
    font-size: 14px;
    cursor: pointer;
	padding: 9px 22px;
	border: 1px solid #5882fd;
}

.work-area-3 .filtering .active {
    background-color: #5882fd;
    color: #fff;
}

.work-area-3 .items {
    margin-top: 30px;
}

.work-area-3 .work-image {
    position: relative;
    overflow: hidden;
}

.work-area-3 .work-image:hover h5,
.work-area-3 .work-image:hover p{
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.work-area-3 .work-image p{
	transition: all 0.5s;
	-webkit-transform: translateY(10px);
            transform: translateY(10px);
}

.work-area-3 .work-image h5 {
    font-weight: 600;
    position: relative;
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
}

.work-area-3 .overlay-bg{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    -webkit-background: linear-gradient(45deg, rgba(42, 169, 206, 0.9) 0%, rgba(30, 46, 218, 0.95) 100%);
			background: linear-gradient(45deg, rgba(42, 169, 206, 0.9) 0%, rgba(30, 46, 218, 0.95) 100%);
    opacity: 0;
    -webkit-transform: translateX(-10px)translateY(10px);
            transform: translateX(-10px)translateY(10px);
}

.work-area-3 .work-image:hover .overlay-bg{
    opacity: 1;
    -webkit-transform: translateX(0px)translateY(0px);
            transform: translateX(0px)translateY(0px);
}
/*----------------------------------------------------
					End work-area
----------------------------------------------------*/

/*----------------------------------------------------
					25-blog-area
----------------------------------------------------*/
.blog-area .blog-box:hover img{
	transform: scale(1.1);
}

.blog-area .blog-box .line{
	left: -35px;
	bottom: 8px;
	width: 50px;
	height: 1px;
}

.blog-area .blog-box .read:hover{
	padding-left: 60px
}

.blog-area .blog-box .read:hover .line{
	left: 0;
	background-color: #1eda65;
}
/*----------------------------------------------------
					End blog-area
----------------------------------------------------*/

/*----------------------------------------------------
					26-work-details
----------------------------------------------------*/
.work-details .share-link{
	height: 45px;
	width: 45px;
	line-height: 45px;
}
/*----------------------------------------------------
					End work-details
----------------------------------------------------*/

/***** login-page *****/
#log-in input{
	text-indent: 40px;
    width: 60%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #88a1ea;
    outline: none;
	font-size: 15px;
}

#log-in input:focus{
	border-color: #9b3998;
}

#log-in .fa{
	left: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
}

#log-in button{
	cursor: pointer;
}
  
.register-page .social.google{
	background-color: #db402c;
}

.register-page .social.facebook{
	background-color: #3b5b9e;
}

.register-page .social.twitter{
	background-color: #4ea2e1;
}

.register-page .social:hover{
	opacity: 0.9;
}

.register-page .welcome-text .separator:after{
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
	background-color: rgba(0,0,0,0.1);
}

.register-page .social .p-absolute{
	left: 15px;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
}

.w-50{width: 50% !important;}

/***** single-blog-page *****/
.blog-details .social-share a{
	width: 45px;
	height: 45px;
	line-height: 45px;
}

.blog-details .comment-box{
	border: 1px solid rgba(88, 130, 253, 0.25);
}

.blog-details .comment-box img{
	width: 80px;
}

.blog-details .comment-box .reply-button{
	right: 15px;
}

#comment-form input,
#comment-form textarea{
	text-indent: 40px;
    width: 60%;
    height: 50px;
    border-radius: 4px;
    border: 1px solid #88a1ea;
    outline: none;
	font-size: 15px;
}

#comment-form textarea{
	height: 200px;
}

#comment-form input:focus{
	border-color: #9b3998;
}

#comment-form .fa{
	left: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
}

#comment-form .fa-comments-o{
	left: 10px;
	top: 25px;
}

#comment-form button{
	cursor: pointer;
}

#search-form input{
	text-indent: 10px;
    width: 60%;
    height: 50px;
    border-radius: 4px;
	border: none;
    border-bottom: 1px solid #88a1ea;
    outline: none;
	font-size: 15px;
}

#search-form .form-group button{
	right: 10px;
	top: 10px;
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

.blog-details .categories-list li{
	border-bottom: 1px solid #ddd
}

.blog-details .categories-list li:last-of-type{
	border-bottom: none;
}

.blog-details .categories-list li span{
	height: 24px;
	width: 24px;
	line-height: 24px;
	border: 1px solid #88a1ea;
}

/***** blog-list page *****/
.blog-list .blog-box:hover img{
	transform: scale(1.1);
}

.blog-list .blog-box .line{
	left: -35px;
	bottom: 8px;
	width: 50px;
	height: 1px;
}

.blog-list .blog-box .read:hover{
	padding-left: 60px
}

.blog-list .blog-box .read:hover .line{
	left: 0;
	background-color: #5882fd;
}

.blog-list .page-numbers li a{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #5882fd;
}

.blog-list .page-numbers li a.active{
	background-color: #5882fd;
	color: #fff;
}

.blog-list .page-numbers li span{
	letter-spacing: 10px;
}


/*----------------------------------------------------
					30-welcome-404
----------------------------------------------------*/
.welcome-404 {
	min-height: 650px;
}

.welcome-404 input[type=text]{
	border: 1px solid rgba(88, 130, 253, 0.6);
}

.welcome-404 input[type=submit]{
	cursor: pointer;
}

.welcome-404 input[type=submit]:hover{
	color: #5882fd;
	background-color: transparent;
}

.welcome-404 .pattern{
	left: 0;
	bottom: 0;
	height: 200px;
	width: 100%;
	background-image: url(../images/bb.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom
}
/*----------------------------------------------------
					End welcome-404
----------------------------------------------------*/